 <!-- Footer--> 
 <footer class="ccontainer-fluid ">
      <div class="row topFooter">
        <div class="col-sm-5 section">
              <div id="line1">
                There is no greater opportunity than now
              </div>
            <div id="line2">Let us Talk!</div>
         <div class="icons" style="transform : translateX(-2%);">
            <a href="#"><img  src="/img/facebookIcon-white.gif" alt="facebook icon"></a>
            <a href="#"><img  src="/img/instagramIcon-white.gif" alt="facebook icon"></a>
            <a href="#"><img  src="/img/twitterIcon-white.gif" alt="facebook icon"></a>
            <a href="#"><img  src="/img/linkedinIcon-white.gif" alt="facebook icon"></a>
            <a href="#"><img  src="/img/wechatIcon-white.gif" alt="facebook icon"></a>
          </div>
        </div>
        <div class="col-sm-4 section">
          <address>
            <div class="branch">Sydney</div>
            <div class="address">
                Level 3, 24 Hunter Street<br>
                Parramatta, NSW 2150<br>
                +61 02 9282 9000<br>
                info@vpigroup.com.au<br>
            </div> 
          </address>

        </div>
        <div class="col-sm-3 section">
          <address>
            <div class="branch">Canberra</div>
            <div class="address">
            Level 2, 40 Marcus Clarke Street<br>
            Canberra City ACT 2601<br>
            +61 02 9382 9765
            </div>
          </address>
        </div>
      </div>
  
        <div class="row bottomFooter justify-content-around">
          <div class="col-md-6 col-sm-12">
            <ul style="list-style: none;">
              <li class="footer-item">Term of use |</li>
              <li class="footer-item">Privacy |</li>
              <li class="footer-item">Cookie Poilicy |</li>
              <li class="footer-item">Site Map |</li>
              <li class="footer-item">
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12 rightFooter text-md-right text-sm-left">
            Copyright &#169; Vision Property Investment Group All Rights Reserved
          </div>
        </div>
  </footer>

<!--<script src="/js/jquery-3.3.1.min.js"></script>-->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script> 
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/smallSlider.js"></script>
<script src="/js/popup.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>
</html>