<%- include('partials/header'); -%>
<link rel="stylesheet" href="/css/about.css">
<!-----------------------------------------ABOUT COMPONENT------------------------------------------>
   
    <div class="main-img">
        <img class="img-1" src="img/20490.png">
    </div>
    <div class="section-1">
        <h2 id="heading-1">We are <span id="sub-line">VPI</span></h2>
        <p id="paragraph-1">Vision Property Investment Group is widely <br>
        renowned as a leading property sales and <br> 
        marketing agency, particularly in the field of off<br>
        the plan residential projects.           
        </p>    
    </div>
         
    <div class="section-2">
        <div class="row">
        <div class="col-1-of-2">
        <p id="paragraph-2">
        Understanding that no two places are the same, we
        build our strategy based on market conditions and
        distinct project attributes.Our long history of property
        sales and development experience has provided VPI
        invaluable insight into launching projects with unique 
        appeal and to consistent success.    
        </p>
        </div>
         <div class="col-1-of-2 vid-container">
           <iframe class="vid-row" 
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
           </iframe>
        </div>
        </div>
    </div>
<!------------------------------------CARDS SECTION------------------------------------------------------------------>    
    <div class="section-3">
        <div class="row">
            <div class="col-1-of-4">
                <div class="card">
                    <!--<div class="card-img">-->
                    <img class="icon-img img1" src="img/Group 2887.png">
                    <!--</div>-->
                    <div class="card-details">
                        <h4>Project Marketing</h4>
                        <p class="card-paragrah">dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                   <a href="#" class="Button">Learn more</a>
                    </div>
                   
                </div>
            </div>
            <div class="col-1-of-4">
                 <div class="card">
                      <img class="icon-img img2" src="img/Group 2890.png">
                    <div class="card-details">
                        <h4>Property Management</h4>
                        <p class="card-paragrah">dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                   <a href="#" class="Button">Learn more</a>
                     </div>
                                

                </div>
                
            </div>  
            <div class="col-1-of-4">
                 <div class="card">
                     <img class="icon-img key img3" src="img/Group 2889.png">
                    <div class="card-details">
                        <h4>Residential Sales</h4>
                        <p class="card-paragrah">dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    <a href="#" class="Button">Learn more</a>
                     </div>
                    
                </div>
            </div>  
            <div class="col-1-of-4">
                 <div class="card">
                    <img class="icon-img img4" src="img/Group 2888.png">
                    <div class="card-details">
                        <h4>Business Network</h4>
                        <p class="card-paragrah">dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    <a href="#" class="Button">Learn more</a>
                     </div>
                    
                </div>
            </div>  
        </div>
    </div>

<!---------------------------------Meet the Team------------------------------------------------------------------------------->
<div class="section-4">
    <div class="row">
      <!------------TEAM IMAGE GALLERY START---------------------->
        <section class="Grid-Test"> 
        <div class="team-row">
           	  	   <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-4.png);">
           	  	   <!--<img src="img/Mask-Group-4.png" class="team-img">-->
           	  	</div>
           	  	   <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-4.png);">
           	  	   col 1 of 3
           	  	</div>
           	  	   <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-4.png);">
           	  	   col 1 of 3
           	  	</div>
           	  </div>

              <div class="team-row middle">
           	  	   <div class="img-1-of-3-middle-row">
           	  	   col 1 of 3
           	  	</div>
           	  	   <div class="img-1-of-3-middle-row">
           	  	   col 1 of 3
           	  	</div>
           	  	   <div class="img-1-of-3-middle-row">
           	  	   col 1 of 3
           	  	</div>
           	  </div>
              
               <div class="team-row">
           	  	   <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-7.png);">
           	  	   col 1 of 3
           	  	</div>
           	  	   <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-7.png);">
           	  	   col 1 of 3
           	  	</div>
           	  	   <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-7.png);">
           	  	   col 1 of 3
           	  	</div>
           	  </div>
            </section>   
            <!------------------END------------------>
     <div class="col-1-of-2 sub-heading-4">
            <h2 id="heading-2">Meet the <span id="sub-line">Team</span></h2>
            <p>The team at VPI Group are motivated and highly skilled because we build our culture around attracting and retaining the best talent in the property industry. Contributions and fresh insights are encouraged no matter your position. The result is an environment where everyone has a vested interest in the success and direction of VPI Group.</p>
            
     </div>
</div>
</div>
<!---------------------------------ARE U READY FORM----------------------------------------------------------------------------->

 <div class="section-5">
        <div class="row">
        <div class="col-1-of-2 sub-heading-5">
            <h1>Are you ready to</h1>
            <h2>Jump-start your career?</h2>
            <p>We're hiring! and if you're passionate about real estate,<br>we'd love to hear from you</p>
            <a href="#" class="myButton">Learn more</a>
        </div>
         <div class="col-1-of-2">
          <img src="img/O6PHIU0.png">
        </div>
        </div>
    </div>

<%- include('partials/footer'); -%>