<%- include('partials/header'); -%>
<!----------------------------------------------Link to CSS styles----------------------------------------------------------------->

<link rel="stylesheet" href="/css/about.css">


<!-----------------------------------------ABOUT SECTION Section 1&2-------------------------------------------------------------->
<!--****************************************
Thsi section consists:
1> Main image 
2> VPI intro
3> Prargraph and video section

DO NOT REMOVE "img/" when changing image name
*******************************************-->  

<!--main image-->
<div class="main-img">
  <img class="img-1" src="img/20490.png"><!---link to main image-->
</div>

<!--VPI intro-->
<div class="section-1">
  <h2 id="heading-1">We are <span id="sub-line">VPI</span></h2><!--span used to add blue color-->
  <p id="paragraph-1">Vision Property Investment Group is widely <br><!-- line break-->
  renowned as a leading property sales and <br> 
  marketing agency, particularly in the field of off<br>
  the plan residential projects.           
  </p>    
</div>

<!--paragraph and video-->
<div class="section-2">
 <div class="row">
  <div class="col-1-of-2">
   <p id="paragraph-2">
   Understanding that no two places are the same, we
   build our strategy based on market conditions and
   distinct project attributes.Our long history of property
   sales and development experience has provided VPI
   invaluable insight into launching projects with unique 
   appeal and to consistent success.    
   </p>
  </div>
 <!--video container-->     
  <div class="col-1-of-2 vid-container">
   <iframe class="vid-row" 
    src="https://www.youtube.com/embed/cfvPjBVZCTc"><!--change video link here-->
   </iframe>
  </div>
  </div>
</div>


<!-----------------------------------------------CARDS SECTION section-3--------------------------------------------------------->   
<!--****************************************
This section consists of 4 cards showing VPI Services

DO NOT REMOVE "img/" when changing image name
*******************************************-->  
<div class="section-3">
 <div class="row">
  <!--First Column/Card-->
  <div class="col-1-of-4">
    <div class="card">
      <img class="icon-img img1" src="img/Group 2887.png"><!--change image here-->
      <div class="card-details">
       <h4>Project Marketing</h4><!--heading-->
       <p class="card-paragrah">dummy text of the printing and typesetting industry. Lorem industry's standard dummy text ever since   the 1500s, when an unknown printer</p><!--change text here-->
       <a href="#" class="Button">Learn more</a><!--button-->
      </div>
    </div>
    </div>
  
  <!--Second Column/Card-->     
  <div class="col-1-of-4">
    <div class="card">
      <img class="icon-img img2" src="img/Group 2890.png"><!--change image here-->
      <div class="card-details">
       <h4>Property Management</h4><!--heading-->
       <p class="card-paragrah">dummy text of the printing and typesetting industry. Lorem I industry's standard dummy text ever since the 1500s, when an unknown printer</p><!--change text here-->
       <a href="#" class="Button">Learn more</a><!--button-->
      </div>
    </div>
   </div>  
   
   <!--Third Column/Card-->   
   <div class="col-1-of-4">
     <div class="card">
      <img class="icon-img key img3" src="img/Group 2889.png"><!--change image here-->
      <div class="card-details">
        <h4>Residential Sales</h4><!-- change heading text here-->
        <p class="card-paragrah">dummy text of the printing and typesetting industry. Lorem Ipindustry's standard dummy text ever  since the 1500s, when an unknown printer</p> <!-- change text here-->
        <a href="#" class="Button">Learn more</a><!--button text-->
      </div>
     </div>
   </div>  
     
   <!--Fourth Column/Card-->
   <div class="col-1-of-4">
     <div class="card">
     <img class="icon-img img4" src="img/Group 2888.png"><!--change image here-->
     <div class="card-details">
       <h4>Business Network</h4><!-- change heading text here-->
       <p class="card-paragrah">dummy text of the printing and typesetting industry. Lorem the industry's standardummy text ever since the 1500s, when an unknown</p><!-- change text here-->
       <a href="#" class="Button">Learn more</a><!--button text-->
     </div>
    </div>
   </div>  
 </div> <!--row ends here-->
</div> <!--card container ends here-->






<!-------------------------------------------------MEET THE TEAM SECTION----------------------------------------------------------->
<!--**********************************************************
This section includes the team image gallery and intro paragraph

DO NOT REMOVE "url()" when changing image name
>Change images by changing url(put image name here)
**************************************************************-->  
<div class="section-4">
 <div class="row">
  <section class="Grid-Test"><!--start of image grid--> 
  <!--first row-->
  <div class="team-row">
    <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-4.png);"></div><!--change image here-->
    <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-4.png);"></div><!--change image here-->
    <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-4.png);"></div><!--change image here-->
  </div>

 <!--second/middle row-->
  <div class="team-row middle">
    <div class="img-1-of-3-middle-row" style = "background-image: url(img/Mask-Group-4.png);"></div><!--change image here-->
    <div class="img-1-of-3-middle-row" style = "background-image: url(img/Mask-Group-4.png);"></div><!--change image here-->
    <div class="img-1-of-3-middle-row" style = "background-image: url(img/Mask-Group-4.png);"></div><!--change image here-->
  </div>
  
 <!--third row-->      
  <div class="team-row">
    <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-7.png);"></div><!--change image here-->
    <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-7.png);"></div><!--change image here-->
    <div class="img-1-of-3" style = "background-image: url(img/Mask-Group-7.png);"></div><!--change image here-->
  </div>
  </section><!--grid end-->   

<!-- team intro-->     
  <div class="col-1-of-2 sub-heading-4">
    <h2 id="heading-2">Meet the <span id="sub-line">Team</span></h2><!-- change heading here-->
    <p>The team at VPI Group are motivated and highly skilled because we build our culture around attracting and rethe best talent in the property industry. Contributions and fresh insights are encouraged no matter your positiresult is an environment where everyone has a vested interest in the success and direction of VPI Group.</p> <!--change paragraph here-->'
  </div>
</div>
</div><!--section end-->




<!--------------------------------------ARE U READY FORM-------------------------------------------------------------------------->

<!--**********************************************************
This section includes Join us form.
DO NOT REMOVE "img/" when changing image name
**************************************************************-->  
<div class="section-5 row">
 <div class="col-1-of-2 sub-heading-5">
  <h1>Are you ready to</h1><!--heading -->
  <h2>Jump-start your career?</h2><!--sub - heading-->
  <p>We're hiring! and if you're passionate about real estate,<br>we'd love to hear from you</p><!--paragraph-->
  <a href="#" class="myButton">Learn more</a><!--button-->
 </div>

<!--image container-->    
 <div class="col-1-of-2 img-container">
  <img class="img-row" src="img/O6PHIU0.png"><!--change image here-->
 </div>
</div>

<%- include('partials/footer'); -%>