
<%- include('partials/header'); -%>
<link rel="stylesheet" href="/css/comercialStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!-- Body of the webpage -->
  <div class="container bodyOfPage">

    <!-- filtering box  -->
    <section id="filterContainerR" class="topFilter">
      <div class="overlayFilterContainer">
        <!-- I used this to reduce size to 80%  -->
        <div class="row justify-content-center" id="textOnFilter">
          <div class="col-12">
            APARTMENT. HOME. LAND
          </div>
        </div>
        <div class="row btn-group listOfButtons justify-content-center " role="group">
          <button type="button" class="btn col-md-2 col-sm-12">NSW</button>
          <button type="button" class="btn col-md-2 col-sm-12">Canberra</button>
          <button type="button" class="btn col-md-2 col-sm-12">Victoria</button>
          <button type="button" class="btn col-md-2 col-sm-12">Queenland</button>
          <button type="button" class="btn col-md-2 col-sm-12">Darwin</button>
        </div>
        <div class="row buySell align-items-end ">
          <div class="col-6 buyLink active "><a class="align-self-center" href="#">BUY</a></div>
          <div class="col-6 sellLink"><a class="align-self-center" href="#">RENT</a></div>
        </div>
      </div>
    </section>

    <!-- Top of the search result  -->
    <div class="row d-flex justify-content-between topFilterResult">
      <div class="col-xs-6  pageDisplay">Displaying <span class="page">1-4 </span> of <span class="page">4</span></div>
      <div class="col-xs-6">
        <a href="#" data-toggle="modal" data-target="#filteringID"><i class="fa fa-filter"></i> Filters</a>
      </div>
    </div>


    <!-- Section for filtered result -->
    <div class="row filterResult">
      <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
        <div class="card">
          <a href="project.html">
            <img class="card-img-top img-fluid" src="img/img2.gif" alt="Card image cap">
            <div class="card-body overlay">
              <div class="card-text">
                <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                      height="15"></span></p>
                <p class="propAddress">Rouse Hill,NSW</p>
                <p class="propBrief">Some quick example text to build on the card title.</p>
                <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
                  detailed decription text to build on the card title And some quick detailed decription text to build
                  on the card title decription text to build on the card title decription text to build on the card
                  title decription text to build on the card title.</p>

              </div>
            </div>
        </div>
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">

        <div class="card">
          <a href="project.html">
            <img class="card-img-top img-fluid" src="img/img3.gif" alt="Card image cap">
            <div class="card-body overlay">
              <div class="card-text">
                <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                      height="15"></span></p>
                <p class="propAddress">Rouse Hill,NSW</p>
                <p class="propBrief">Some quick example text to build on the card title.</p>
                <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
                  detailed decription text to build on the card title And some quick detailed decription text to build
                  on the card title decription text to build on the card title decription text to build on the card
                  title decription text to build on the card title.</p>

              </div>
            </div>
          </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <a href="project.html">
          <img class="card-img-top img-fluid" src="img/img4.gif" alt="Card image cap">
          <div class="card-body overlay">
            <div class="card-text">
              <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                    height="15"></span></p>
              <p class="propAddress">Rouse Hill,NSW</p>
              <p class="propBrief">Some quick example text to build on the card title.</p>
              <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
                detailed decription text to build on the card title And some quick detailed decription text to build on
                the card title decription text to build on the card title decription text to build on the card title
                decription text to build on the card title.</p>

            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/img5.gif" alt="Card image cap">
        <div class="card-body overlay">
          <div class="card-text">
            <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                  height="15"></span></p>
            <p class="propAddress">Rouse Hill,NSW</p>
            <p class="propBrief">Some quick example text to build on the card title.</p>
            <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
              detailed decription text to build on the card title And some quick detailed decription text to build on
              the card title decription text to build on the card title decription text to build on the card title
              decription text to build on the card title.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/img6.gif" alt="Card image cap">
        <div class="card-body overlay">
          <div class="card-text">
            <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                  height="15"></span></p>
            <p class="propAddress">Rouse Hill,NSW</p>
            <p class="propBrief">Some quick example text to build on the card title.</p>
            <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
              detailed decription text to build on the card title And some quick detailed decription text to build on
              the card title decription text to build on the card title decription text to build on the card title
              decription text to build on the card title.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/img7.gif" alt="Card image cap">
        <div class="card-body overlay">
          <div class="card-text">
            <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                  height="15"></span></p>
            <p class="propAddress">Rouse Hill,NSW</p>
            <p class="propBrief">Some quick example text to build on the card title.</p>
            <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
              detailed decription text to build on the card title And some quick detailed decription text to build on
              the card title decription text to build on the card title decription text to build on the card title
              decription text to build on the card title.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/img8.gif" alt="Card image cap">
        <div class="card-body overlay">
          <div class="card-text">
            <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                  height="15"></span></p>
            <p class="propAddress">Rouse Hill,NSW</p>
            <p class="propBrief">Some quick example text to build on the card title.</p>
            <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
              detailed decription text to build on the card title And some quick detailed decription text to build on
              the card title decription text to build on the card title decription text to build on the card title
              decription text to build on the card title.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/img9.gif" alt="Card image cap">
        <div class="card-body overlay">
          <div class="card-text">
            <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                  height="15"></span></p>
            <p class="propAddress">Rouse Hill,NSW</p>
            <p class="propBrief">Some quick example text to build on the card title.</p>
            <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
              detailed decription text to build on the card title And some quick detailed decription text to build on
              the card title decription text to build on the card title decription text to build on the card title
              decription text to build on the card title.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/img10.gif" alt="Card image cap">
        <div class="card-body overlay">
          <div class="card-text">
            <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                  height="15"></span></p>
            <p class="propAddress">Rouse Hill,NSW</p>
            <p class="propBrief">Some quick example text to build on the card title.</p>
            <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
              detailed decription text to build on the card title And some quick detailed decription text to build on
              the card title decription text to build on the card title decription text to build on the card title
              decription text to build on the card title.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/img11.gif" alt="Card image cap">
        <div class="card-body overlay">
          <div class="card-text">
            <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                  height="15"></span></p>
            <p class="propAddress">Rouse Hill,NSW</p>
            <p class="propBrief">Some quick example text to build on the card title.</p>
            <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
              detailed decription text to build on the card title And some quick detailed decription text to build on
              the card title decription text to build on the card title decription text to build on the card title
              decription text to build on the card title.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="card">
        <img class="card-img-top img-fluid" src="img/img12.gif" alt="Card image cap">
        <div class="card-body overlay">
          <div class="card-text">
            <p class="propTitle">ROUSE GARDEN <span class="favIcon"><img src="img/star.png" width="15"
                  height="15"></span></p>
            <p class="propAddress">Rouse Hill,NSW</p>
            <p class="propBrief">Some quick example text to build on the card title.</p>
            <p class="propDetail">And some quick detailed decription text to build on the card title And some quick
              detailed decription text to build on the card title And some quick detailed decription text to build on
              the card title decription text to build on the card title decription text to build on the card title
              decription text to build on the card title.</p>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!--Paging -->
  <div class="row paging">
    <ul class="pagination col-12 justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </div>




  </div>



  <!-- Modal for login     -->
  <div class="modal fade" id="loginID">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Login Form</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="container">
            <form action="#">
              <div class="form-group">
                <label for="usr">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
            </form>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Sign Up</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal for filtering                    -->
  <div class="modal fade" id="filteringID">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Filter Form</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="container">
            <form action="#">
              <div class="form-group">
                <label for="usr">Filter#1</label>
                <input type="text" class="form-control" id="username2" name="username">
              </div>
              <div class="form-group">
                <label for="pwd">Filter#2</label>
                <input type="password" class="form-control" id="password2" name="password">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="exampleRadios1">
                    House
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Apartment
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
                    disabled>
                  <label class="form-check-label" for="exampleRadios3">
                    Land
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Filter Properties</button>
        </div>
      </div>
    </div>
  </div>



<%- include('partials/footer'); -%>