<%- include('partials/header'); -%>
<link rel="stylesheet" href="/css/style.css">
   <div  id="web_10">
      <!-- Top image  -->
      <div class="topImage">
          <img src="img/web_10_1.gif">
      </div>

      <!-- Body of the page -->
      <div class="container bodyOfWeb10">
        <!-- Section 1 -->
          <div class="topSection">
            <div class="row">
                  <h2 class="mainText col-sm-6 text-left"> Start Getting <span id="blueResult">Results </span></h2>
                  <h6 class="phone col-sm-6 text-right">+61 02 9282 9000 </h6>
            </div>
            <div class="row">
                  <span class="potential col-md-3">I am a potential</span>
                  <button type="button" class="selection col-md-2">Client</button>
                  <button type="button" class="selection col-md-2 active">Intern</button>
                  <button type="button" class="selection col-md-2">Partner</button>
                  <button type="button" class="selection col-md-2">Staff</button>
            </div>
            <div class="row discriptionText ">
              <div class="col-sm-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <!-- Form section -->
          <div class="row formWeb10">
            <div class="col-sm-12 col-md-6 fName">
              <div class="row">
                <div class="inputText col-sm-12">First Name</div>
                <div class="input col-sm-12"><input type=text></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 lName">
              <div class="row">
                <div class="inputText col-sm-12">Last Name</div>
                <div class="input col-sm-12"><input type=text></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 mNum mt-2">
              <div class="row">
                <div class="inputText col-sm-12">Mobile Number</div>
                <div class="input col-sm-12"><input type=text></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 email mt-2">
              <div class="row">
                <div class="inputText col-sm-12">Email</div>
                <div class="input col-sm-12"><input type=text></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 company mt-2">
              <div class="row">
                <div class="inputText col-sm-12">Company</div>
                <div class="input col-sm-12"><input type=text></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 tNum mt-2">
              <div class="row">
                <div class="inputText col-sm-12">Telephone Number</div>
                <div class="input col-sm-12"><input type=text></div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12  mt-3">
                  How Can We Help
                </div>
              </div>
              <div class="row">
                <div class="dropDown inputText col-sm-12">  
                  <select name="help" class="dropDownSelection">
                      <span class="ico ico-chevron-down"></span>
                      <option value="Op1">Option 1</option>
                      <option value="Op2">Option 2</option>
                      <option value="Op3">Option 3</option>
                      <option value="Op4">Option 4</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="col-sm-12  mt-3">
              <div class="row">
                <div class="col-sm-12 inputText">Please Tell Us More
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <textarea  name="message" style="height:220px; width:inherit">                
                  </textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="submitButton">Send message</button>
                  </div>
                </div>
            </div>
          </div>
            

      <!-- section 2 -->
        <div class="row  bottomImages">
          <div class="col-xs-12 col-md-6">
              <div class="card bg-dark text-white">
                  <img class="card-img img-fluid cardImage" src="./img/web_10_2.gif" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Sydney</h5>
                    <p class="card-text">
                        Level 3, 24 Hunter Street,<br>
                        Parramatta, NSW 2150<br>
                        +61 02 9282 9000<br>
                        info@vpigroup.com.au </p>
                        <div class="icons">
                            <a href="#"><img  src="./img/facebookIcon-white.gif" alt="facebook icon"></a>
                            <a href="#"><img  src="./img/instagramIcon-white.gif" alt="instagram icon"></a>
                            <a href="#"><img  src="./img/twitterIcon-white.gif" alt="twitter icon"></a>
                            <a href="#"><img  src="./img/linkedinIcon-white.gif" alt="likedin icon"></a>
                            <a href="#"><img  src="./img/wechatIcon-white.gif" alt="wechat icon"></a>
                          </div>
                    <p class="card-text direction">Direction <img class="directionImg" src="./img/directionIcon-white.gif"></p>
                  </div>
                </div>
          </div>
          <div class="col-xs-12 col-md-6">
              <div class="card bg-dark text-white">
                  <img class="card-img img-fluid cardImage" src="./img/web_10_3.gif" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Canberra</h5>
                    <p class="card-text">
                        Level 2, 40 Marcus Clarke<br>
                        Street, Canberra City <br>
                        Act 2601<br>
                        +61 02 9282 9000<br>
                        info@vpigroup.com.au </p>
                    <p class="direction">Direction <img class="directionImg" src="./img/directionIcon-white.gif"></p>
                  </div>
                </div>
          </div>
        </div>
      
      </div>
    </div>

<%- include('partials/footer'); -%>