<%- include('partials/header'); -%>

<!-------------------------------------------links to CSS Files----------------------------------------------------------------->
<!--****************************************
DO NOT CHANGE ORDER OF THESE FILES
*******************************************--> 

<link rel="stylesheet" href="/css/home.css"> <!--homepage styles-->
<link rel="stylesheet" href="/css/owl.carousel.min.css"><!--small slider-->
<link rel="stylesheet" href="/css/owl.theme.default.min.css"><!--small slider-->


<main>    
<!-------------------------------------------Large Image Slider--------------------------------------------------------->    
<!--****************************************
This section contains the main jumbo slider 
DO NOT REMOVE "img/" otherwise picture will not show
*******************************************-->  

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
<ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<!--Slide 1-->
<div class="carousel-inner" role="listbox">

<!--Main Image
Change main image by using url(img/*put-image-name-here*) below-->
<div class="carousel-item active" style = "background-image: url(img/home-slide-mastery-2@2x.png);"><!--change image here-->
   <!-- Main image text--> 
   <div class="carousel-caption text-left">
    <h1>
     <ul class="jumbotron-heading">
        <li>HOME</li><!--change this to change text-->
        <li>INVESTMENT</li>
        <li>RENT</li>
        <li>MARKET</li>
        <li>SALES</li>
     </ul>
    </h1>
    <a class="btn btn1 btn-outline btn-lg btn--white btn--animated" href="#">View Properties</a><!--button-->
   </div>
 </div>  

<!--2nd & 3rd Images
Change 2nd & 3rd image using url(img/*put-image-name-here*)-->
<div class="carousel-item" style = "background-image: url(img/DUO_Lobby.jpg);"></div><!--change image here-->
<div class="carousel-item" style = "background-image: url(img/3.jpg);"></div><!--change image here-->
        

<!-- prev and next buttons -->    
</div>
 <a class = "carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
 </a>
    
 <a class = "carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
 </a>
    
</div>    

    

<!--------------------------------------------SMALL IMAGE GALLERY---------------------------------------------->
 
<!--**************************************************
This section the small slider image gallery
To change an image use src="img/put image name here"
DO NOT REMOVE "img/"
*******************************************************--> 
<div class ="slider-area">    
<div class="slider-active owl-carousel owl-theme">
    <div class="item"><img src="img/CrownGroupStory_02.a04748fe-1600@2x.png"></div><!--change image here-->
    <div class="item"><img src="img/Arc_by_Crown_Group_Exterior@2x.png"></div><!--change image here-->
    <div class="item"><img src="img/Arc_by_Crown_Group_Exterior_Sunset@2x.png"></div><!--change image here-->
    <div class="item"><img src="img/Arc_by_Crown_Group_Rooftop_Bar@2x.png"></div><!--change image here-->
    <div class="item"><img src="img/Arc_by_Crown_Group_Pool@2x.png"></div><!--change image here-->
    <!--copy and paste line 80 to add more images here (change image name only)--> 
</div>
</div>
    

    
    
<!---------------------------------------------FORMS AND VIDEO------------------------------------------------>

<!--**********************************************
This section contains the 2 forms on the home page

1>To change background picture GO TO => home.css file line 193 & line 203 under FORM SECTION
2>To change video under video-container change link in src="https://www.youtube.com/embed/put videoID here"
*********************************************************************************************-->   
<div class="row">
 
<!-------------First form------------->
 <div class="col-1-of-2 form-text-left">
       <h3>Become a VIP member</h3><!--heading-->
       <h4>Recieve free premium gifts</h4><!--sub-heading-->
       <a class="btn btn2 btn-outline btn-lg btn--white btn--animated" href="#">sign up</a><!--button-->    
  </div>
<!------------Second Form------------>
 <div class="col-1-of-2 form-text-right">
       <h3>Newsletter</h3><!--heading-->
       <h4>  
         Get free premium updates<br><!--sub-heading-->
         NO SPAM.MUCH INFO.WOW.
       </h4>
       <form class="form-inline my-2 my-lg-0 subscribe-form">  
         <input type="email" placeholder="type email address here">    
         <a class="btn btn3 btn-lg btn-primary btn--animated" href="#">subscribe</a><!--button-->        
       </form>
  </div>
</div>

<!---------------Video------------------------->
<div class="video-container">
   <iframe class="vid-row" width="580" height="200"
   src="https://www.youtube.com/embed/cfvPjBVZCTc"><!-- change video Id only here-->
   </iframe>
</div>


    
    

    
    
<!---------------------------------------------PARTNER SECTION---------------------------------------------------->

<!--****************************************
This section contains the partners paragraph
and grid of partner logos

DO NOT REMOVE "img/"
1>To change logo picture => src="img/(put name of picture here with .png, .jpg, .gif extension)"

2> To change text put text between tags <h2></h2> & <p></p>
*********************************************************************************************-->    
    
<div class ="partner-container">
  <h2>Partners</h2><!--heading-->
  <p id="partner-paragraph">Our intent is to provide clients the most complete and best service available, whether directly from VPI Group or from a VPI Group business partner</p><!--paragraph-->
</div>
    
<!--container having all partner logo's start here-->     
<div class= "partners-logo">
 <!--first row of logos-->
 <div class = "row">
    <div class="col-1-of-7">   
      <img class="logo-item" src="img/sh international.png"><!--change logo picture here as shown above in comments-->
    </div>
     
    <div class="col-1-of-7">
      <img class="logo-item" src="img/sh international.png"><!--change image here-->
    </div>
     
    <div class="col-1-of-7">    
      <img class="logo-item" src="img/sh international.png"><!--change image here-->
    </div>
     
    <div class="col-1-of-7">      
      <img class="logo-item" src="img/buildex.png"><!--change image here-->
    </div>
     
    <div class="col-1-of-7">      
      <img class="logo-item" src="img/meriton.jpg"><!--change image here-->
    </div>
     
    <div class="col-1-of-7">      
      <img class="logo-item" src="img/mirvac.jpg"><!--change image here-->
    </div>
</div>
    
<!--Second row of logos-->
<div class = "row">
    <div class="col-1-of-7">
      <img class="logo-item" src="img/LendLease.png"><!--change image here-->
    </div>
    
    <div class="col-1-of-7">
      <img class="logo-item" src="img/billbergia.jpg"><!--change image here--> 
    </div>
    
    <div class="col-1-of-7">    
      <img class="logo-item" src="img/sekusui.jpg"><!--change image here-->
    </div>
    
    <div class="col-1-of-7">
      <img class="logo-item" src="img/commbank.jpg"><!--change image here-->
    </div>
    
    <div class="col-1-of-7">    
      <img class="logo-item" src="img/stockland.png"><!--change image here-->
    </div>
    
    <div class="col-1-of-7">
      <img class="logo-item" src="img/NAB.jpg"><!--change image here-->
    </div>
</div>    
        
<!--Third row of logos-->
<div class = "row"> 
    <div class="col-1-of-5">
      <img class="logo-item" src="img/st-george.png"><!--change image here-->
    </div>
    
    <div class="col-1-of-5">
      <img class="logo-item" src="img/commbank.jpg"><!--change image here-->  
    </div>
    
    <div class="col-1-of-5">
      <img class="logo-item" src="img/commbank.jpg"><!--change image here--> 
    </div> 
    
    <div class="col-1-of-5">
      <img class="logo-item" src="img/morson group.png"><!--change image here--> 
    </div>
</div>
        
<!--Last row of logo-->    
   <div class ="row">  
       <img class="last-logo" src="img/ANZ.jpg"><!--change image here-->
    </div>
</div> 
    
<!------------------------------------------POP UP-------------------------------------------->        
<div class="popUp">
<div class="popup-content">
    <div class="close">+</div>
    <!--DO NOT REMOVE "img/"-->
    <!-- To change popup picture change 'IMG-20190613-WA0000.jpg' to name of image-->
    <img class = "popup-img" src="img/IMG-20190613-WA0000.jpg" style="background-size-cover">
    <a class="btn4 btn-lg btn-primary" href="#">enquire now</a><!--button--> 
</div>
</div>
          
</main>

<!-----------------------------------------FOOTER--------------------------------------------->
<%- include('partials/footer'); -%>