<%- include('partials/header'); -%>
<link rel="stylesheet" href="/css/home.css">
<main>
<!--START OF SLIDER--->    
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
    
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <!--Slide 1-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style = "background-image: url(img/home-slide-mastery-2@2x.png);">
      
        <div class="carousel-caption text-left">
        <h1>
            <ul class="jumbotron-heading">
            <li>HOME</li>
            <li>INVESTMENT</li>
            <li>RENT</li>
            <li>MARKET</li>
            <li>SALES</li>
            </ul>
        </h1>
            <a class="btn btn1 btn-outline btn-lg btn--white btn--animated" href="#">View Properties</a>
        </div>
        </div>  
         <div class="carousel-item" style = "background-image: url(img/DUO_Lobby.jpg);"></div>
         <div class="carousel-item" style = "background-image: url(img/3.jpg);"></div>
        
    </div><!---end of carousal inner-->
    
    <a class = "carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    
     <a class = "carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
    
    
</div>    
<!----START OF IMAGE GALLERY----->
    
 <div class="gallery-container">
<img class="img-row cover" src="img/CrownGroupStory_02.a04748fe-1600@2x.png">
<img class="img-row cover" src="img/Arc_by_Crown_Group_Exterior@2x.png">
<img class="img-row cover" src="img/Arc_by_Crown_Group_Exterior_Sunset@2x.png">
<img class="img-row cover" src="img/Arc_by_Crown_Group_Rooftop_Bar@2x.png">
<img class="img-row cover last-child" src="img/Arc_by_Crown_Group_Pool@2x.png">
                  
</div>   
<!------------START OF FORMS AND VIDEOS-------------------->
     <!--<div class="form-container">
         <div class="form-row">
              <div class="form-text-left">
              <h3>Become a VIP member</h3>
              <h4>Recieve free premium gifts</h4>
               <a class="btn btn2 btn-outline btn-lg btn--white btn--animated" href="#">sign up</a>      
              </div>
              <div class="form-text-right">
              <h3>Newsletter</h3>
              <h4>  
                  Get free premium updates<br>
                  NO SPAM.MUCH INFO.WOW.
              </h4>
                <form class="form-inline my-2 my-lg-0 subscribe-form">  
                <input type="email" placeholder="type email address here">    
                <a class="btn btn3 btn-lg btn-primary btn--animated" href="#">subscribe</a>     
                </form>
            </div>  
          </div> 
          <div class="form-row">
              <div class="form-text-right">
              <h3>Newsletter</h3>
              <h4>  
                  Get free premium updates<br>
                  NO SPAM.MUCH INFO.WOW.
              </h4>
                <form class="form-inline my-2 my-lg-0 subscribe-form">  
                <input type="email" placeholder="type email address here">    
                <a class="btn btn3 btn-lg btn-primary btn--animated" href="#">subscribe</a>     
                </form>
          </div>  
         
         
   </div>
    </div>-->

    <!--<div class="section-2">
        <div class="row1">
             <div class="col-1-of-2 form-text-left">
              <h3>Become a VIP member</h3>
              <h4>Recieve free premium gifts</h4>
               <a class="btn btn2 btn-outline btn-lg btn--white btn--animated" href="#">sign up</a>      
              </div>
     
            <div class="col-1-of-2 form-text-right">
             <h3>Newsletter</h3>
              <h4>  
                  Get free premium updates<br>
                  NO SPAM.MUCH INFO.WOW.
              </h4>
                <form class="form-inline my-2 my-lg-0 subscribe-form">  
                <input type="email" placeholder="type email address here">    
                <a class="btn btn3 btn-lg btn-primary btn--animated" href="#">subscribe</a>     
                </form>
              </div>
      
        </div>
    </div>  -->
    
    <div class="row">
           	  	   <div class="col-1-of-2 form-text-left">
           	 <h3>Become a VIP member</h3>
              <h4>Recieve free premium gifts</h4>
               <a class="btn btn2 btn-outline btn-lg btn--white btn--animated" href="#">sign up</a>    
           	  	   	</div>

           	  	   <div class="col-1-of-2 form-text-right">
                  <h3>Newsletter</h3>
              <h4>  
                  Get free premium updates<br>
                  NO SPAM.MUCH INFO.WOW.
              </h4>
                <form class="form-inline my-2 my-lg-0 subscribe-form">  
                <input type="email" placeholder="type email address here">    
                <a class="btn btn3 btn-lg btn-primary btn--animated" href="#">subscribe</a>     
                </form>
           	  	   </div>
     </div>
   
     <div class="video-container">
           <iframe class="vid-row" width="580" height="200"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
           </iframe>

    </div>
<!----------------START OF PARTNER SECTION---------------------->
    <div class ="partner-container">
        <h2>Partners</h2>
        <p id="partner-paragraph">Our intent is to provide clients the most complete and best service available, whether directly from VPI Group or from a VPI Group business partner</p>
    </div>
    
    <div class= "partners-logo">
    <div class = "row">
        <div class="col-1-of-7">   
      <img class="logo-item" src="img/sh international.png">
        </div>
         <div class="col-1-of-7">
      <img class="logo-item" src="img/sh international.png">
        </div>  
      <div class="col-1-of-7">    
      <img class="logo-item" src="img/sh international.png">
        </div>
          <div class="col-1-of-7">      
      <img class="logo-item" src="img/buildex.png">
        </div>
              <div class="col-1-of-7">      
      <img class="logo-item" src="img/meriton.jpg">
        </div>
      <div class="col-1-of-7">      
      <img class="logo-item" src="img/mirvac.jpg">
        </div>
          <div class="col-1-of-7">      
      <img class="logo-item" src="img/Frasers.jpg">
    </div>
        
        </div>
    <div class = "row">
     <div class="col-1-of-7">
      <img class="logo-item" src="img/LendLease.png">
        </div>
         <div class="col-1-of-7">
      <img class="logo-item" src="img/billbergia.jpg"> 
        </div>  
     <div class="col-1-of-7">    
      <img class="logo-item" src="img/sekusui.jpg">
        </div> 
         <div class="col-1-of-7">
      <img class="logo-item" src="img/commbank.jpg">
        </div>
       <div class="col-1-of-7">    
      <img class="logo-item" src="img/stockland.png">
        </div>
         <div class="col-1-of-7">
      <img class="logo-item" src="img/NAB.jpg">
        </div>
         <div class="col-1-of-7">
      <img class="logo-item" src="img/westpac.jpg">
    </div>
        </div>
    <div class = "row">
     <div class="col-1-of-5">
      <img class="logo-item" src="img/st-george.png">
        </div>
        <div class="col-1-of-5">
      <img class="logo-item" src="img/commbank.jpg">  
        </div>
        <div class="col-1-of-5">
      <img class="logo-item" src="img/commbank.jpg"> 
        </div> 
        <div class="col-1-of-5">
      <img class="logo-item" src="img/morson group.png"> 
        </div>
        <div class="col-1-of-5">
      <img class="logo-item" src="img/payce.jpg"> 
     </div>
        </div>
     <div class ="row">  
    <img class="last-logo" src="img/ANZ.jpg">
        </div>
    </div> 
    
<!--------------------------------POP UP-------------------------------------------->
          
          <div class="popUp">
              <div class="popup-content">
                  <div class="close">+</div>
                  <img class = "popup-img" src="img/rouse.png" style="background-size-cover">
                <a class="btn4 btn-lg btn-primary" href="#">enquire now</a> 
              </div>
          </div>
          
<div id="residential"></div>  
<div id="commercial"></div>    
<div id="comapany"></div>    
<div id="contact"></div>  
</main>
<%- include('partials/footer'); -%>