<%- include('partials/header'); -%>
<!--<link rel="stylesheet" href="/css/style.css">-->
<link rel="stylesheet" href="/css/projectStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <!-- icons from font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />

<div id="web_9">
      <!-- Body of the page -->
      <div class="container bodyOfWeb9">
        <div class="propPics">
          <div class="row ">
            <div id="displayingImage" class="col-md-9">
              <div id="carousel-main" class="carousel slide " data-touch="true">
                <!-- Carousel items -->
                <div id="bigImage" class="carousel-inner">
                  <div class="active carousel-item">
                    <img id="bigImg1" src="img/100.gif" class="img-fluid" />
                  </div>
                </div>

                <!-- Controls -->
                <a
                  id="prev"
                  class="carousel-control-prev"
                  href=".carousel"
                  role="button"
                  data-slide="prev"
                >
                  <span class="carousel-control-prev-icon" aria-hidden="true">
                  </span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  id="next"
                  class="carousel-control-next"
                  href=".carousel"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <div id="sideImages" class="col-md-3 d-none d-md-flex">
              <div>
                <!-- Carousel items -->
                <div class="im3">
                  <img id="image1" src="#" class="imageThumb" />
                </div>
                <div class="im">
                  <img id="image2" src="#" class="imageThumb " />
                </div>
                <div class="im5">
                  <img id="image3" src="#" class="imageThumb  " />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row main-container">
          <div class="col-sm-9 content">
            <div class="row">
              <div class="col-sm-8 title">
                <h5>ROUSE GARDEN</h5>
                <h6>848 Windsor Rd, Rouse Hill NSW 2155</h6>
              </div>

              <div class="col-sm-4  text-sm-right text-xs-left">
                <button href="#" class=" btn btn-light button-2 ">Save</button>
              </div>
            </div>

            <div id="specification" class="row">
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bed"></i>&nbsp;Bedroom</span
                >
                <br /><span class="info">2</span>
              </div>
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bath"></i> &nbsp;Toilet</span
                >
                <br /><span class="info">2</span>
              </div>
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bed"></i>&nbsp;Car space</span
                >
                <br /><span class="info">2</span>
              </div>
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bed"></i>&nbsp;Land size</span
                >
                <br /><span class="info">240m<sup>2</sup></span>
              </div>
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bed"></i>&nbsp;Floor size</span
                >
                <br /><span class="info">201m<sup>2</sup></span>
              </div>
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bed"></i>&nbsp;Nearest Station</span
                >
                <br /><span class="info">Rouse Hill</span>
              </div>
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bed"></i>&nbsp;Price range</span
                >
                <br /><span class="info">650,000</span>
              </div>
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bed"></i>&nbsp;CBD distance</span
                >
                <br /><span class="info">20km</span>
              </div>
              <div class="col-md-4 col-6">
                <span class="spec"
                  ><i class="fal fa-bed"></i>&nbsp;Construction stage</span
                >
                <br /><span class="info">Stage 3</span>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <hr style="border: 0.5px solid #f0ebe8;" />
                <h5>Project Description</h5>
                <p class="product-description">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy. Various versions have evolved over the years,
                  sometimes by accident, sometimes on purpose (injected humour
                  and the like).
                </p>
                <a id="read-more" href="#">Read more</a>
                <hr style="border: 0.5px solid #f0ebe8;" />
                <div class="map">
                  <img src="img/map1.gif" class="img-fluid" />
                </div>
                <hr style="border: 0.5px solid #f0ebe8;" />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-8 col-12">
                <h5><strong>Amenities Nearby</strong></h5>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Rouse Hill Centre</td>
                      <td>4 km</td>
                    </tr>
                    <tr>
                      <td>Rouse Hill Private Hospital</td>
                      <td>4 km</td>
                    </tr>
                    <tr>
                      <td>Western Sydney University</td>
                      <td>7 km</td>
                    </tr>
                    <tr>
                      <td>Parramatta CBD</td>
                      <td>10 km</td>
                    </tr>
                  </tbody>
                </table>
                <div id="extraInfo">
                  <div>
                    <h5><strong>Display Location</strong></h5>
                    <p>848 Windsor Rd, Rouse Hill NSW 2155</p>
                  </div>
                  <div>
                    <h5><strong>Property Website</strong></h5>
                    <a href="#">http://www2rousegarden.com.au</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!---------------------Enquiry FORMS-------------------------------------->
          <div class="col-sm-3 enquiry-container">
            <form class="callForm">
              <div class="">
                <div class="logoheader">
                  <img class="" src="img/logo-white.png" alt="company logo" />
                </div>
                <div class="body">
                  <button type="button" class="subBut">
                    <img src="img/emailIcon.png">&nbsp; &nbsp;Call Agent
                  </button>
                  <button type="button" class="subBut">
                    <img src="img/shareIcon.png">&nbsp;&nbsp;Share Property
                  </button>
                </div>
              </div>
            </form>

            <form class="enquiry-form">
              <div>
                <div class="inForm headText text-center detailInput">Ask about this property</div>
                <div id="detail" class="detailInput">Your Details</div>
                <input
                  class="inForm detailInput"
                  type="text"
                  placeholder="Your name(required)"
                />
                <input
                  class="inForm detailInput"
                  type="email"
                  placeholder="Email address"
                />
                <input
                  class="inForm detailInput"
                  type="number"
                  placeholder="Contact number "
                />
                <div class="inForm headText detailInput">Plaese Tell Us More</div>
                <textarea id="askUs" type= "textarea" class="detailInput"
                  placeholder="I'd like to ask about..."
                ></textarea>
              
                <button class="enqBut detailInput " href="#" class="Button button-1">
                  Enquire
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br />
 <script>
      // PropImage object blue print
      function PropImage(focused, num, src) {
        this.focused = focused;
        this.numberInList = num;
        this.source = "./img/" + src;
      }
      var numberOfImages = 5; //Number of images, fetched from the server/DB
      var firstImageIndex = 100; //Name of the first image from the server/DB

      var listOfImages = []; //Array of all PropImage objects

      //Create all PropImage objects
      for (let i = 0; i < numberOfImages; i++) {
        listOfImages.push(
          new PropImage(false, i, firstImageIndex + i + ".gif")
        );
      }

      // Displaying stack, 3 members
      var listOfDisplayingImages = [];
      for (let i = 2; i >= 0; i--) {
        listOfDisplayingImages.push(listOfImages[i]);
      }

      // Hidden stack, arbitrary number of members
      var listOfHiddenImages = [];
      for (let i = numberOfImages; i > 3; i--) {
        listOfHiddenImages.push(listOfImages[i - 1]);
      }

      //Initual configuration of PropImages
      listOfImages[0].focused = true;
      // It is possible to set the image source here in a for loop and server query

      var focusedImageIndex = findFocusedImage().numberInList;

      // Presentation in HTML
      document.getElementById("image1").addEventListener("click", setFocus);
      document.getElementById("image2").addEventListener("click", setFocus);
      document.getElementById("image3").addEventListener("click", setFocus);
      document.getElementById("next").addEventListener("click", nextImage);
      document.getElementById("prev").addEventListener("click", prevImage);
      showThumbImages();

      // Helper functions
      function showThumbImages() {
        document.getElementById("image1").src =
          listOfDisplayingImages[2].source;
        document.getElementById("image2").src =
          listOfDisplayingImages[1].source;
        document.getElementById("image3").src =
          listOfDisplayingImages[0].source;
      }
      function findFocusedImage() {
        for (let j = 0; j < listOfImages.length; j++) {
          if (listOfImages[j].focused) {
            return listOfImages[j];
          }
        }
      }

      function setFocus() {
        document.getElementById("bigImg1").src = this.src;
      }

      function nextImage() {
        listOfImages[focusedImageIndex].focused = false;
        focusedImageIndex++;
        focusedImageIndex %= numberOfImages;
        var outImage = listOfDisplayingImages.pop();
        var inImage = listOfHiddenImages.pop();
        var revDisplayingList = listOfDisplayingImages.reverse();
        var revHiddenImages = listOfHiddenImages.reverse();
        revDisplayingList.push(inImage);
        revHiddenImages.push(outImage);
        listOfDisplayingImages = revDisplayingList.reverse();
        listOfHiddenImages = revHiddenImages.reverse();
        showThumbImages();
        listOfImages[focusedImageIndex].focused = true;
        document.getElementById("bigImg1").src =
          listOfImages[focusedImageIndex].source;
      }

      function prevImage() {
        listOfImages[focusedImageIndex].focused = false;
        focusedImageIndex += numberOfImages - 1;
        focusedImageIndex %= numberOfImages;
        var revDisplayingList = listOfDisplayingImages.reverse();
        var revHiddenImages = listOfHiddenImages.reverse();
        var outImage = listOfDisplayingImages.pop();
        var inImage = listOfHiddenImages.pop();
        listOfDisplayingImages = revDisplayingList.reverse();
        listOfHiddenImages = revHiddenImages.reverse();
        revDisplayingList.push(inImage);
        revHiddenImages.push(outImage);
        showThumbImages();
        listOfImages[focusedImageIndex].focused = true;
        document.getElementById("bigImg1").src =
          listOfImages[focusedImageIndex].source;
      }
    </script>

<%- include('partials/footer'); -%>