<%- include('partials/header'); -%>
<link rel="stylesheet" href="/css/property.css">


<div class="gallery">
  <figure class="gallery__item gallery__item--1">
    <img src="img/big.png" class="gallery__img" alt="Image 1">
  </figure>
  <figure class="gallery__item gallery__item--2" style="margin-bottom: 0px;">
    <img src="img/Balcony-01.png" class="gallery__img" alt="Image 2">

  </figure>
  <figure class="gallery__item gallery__item--3" style="margin-bottom: 0px;">
    <img src="img/Living-01.png" class="gallery__img" alt="Image 3">
  </figure>
  <figure class="gallery__item gallery__item--4">
    <img src="img/Rooftop-v2.png" class="gallery__img" alt="Image 4">
  </figure>    
</div>  

<div class="main-container">
<!--------------------DESCRIPTION---------------------------------------->
<div class="title">
<h3>ROUSE GARDEN</h3>
<h4>848 Windsor Rd, Rouse Hill NSW 2155</h4>    
</div>    

<button href="#" class="button-2">Save</button>
<div class ="description-container">
    <hr style="border: 0.5px solid #f0ebe8;" /> 
    <h5>First Class Apartment</h5>
    <p class="product-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    
    <p>
     Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    </p>
<a id="read-more" href="#">Read more v</a>    
<hr style="border: 0.5px solid #f0ebe8;" />     
</div>    

<!---------------------ICONS--------------------------------------------->    

<div class="gly-icons-row1">
    <ul class="icon-style">
    <li id="bedroom">
        <h4>Bedroom</h4>
        <p>2</p>
    </li>
     <li id="toilet">
        <h4>Toilet</h4>
        <p>2</p>
    </li>
     <li id="car-space">
        <h4>Car space</h4>
        <p>1</p>
    </li>
     <li id="land-size">
        <h4>Land size</h4>
        <p>240</p>
    </li>
     <li id="floor-size">
        <h4>Floor size</h4>
        <p>2</p>
    </li>
    </ul>
</div> 
    
<div class="gly-icons-row2">
    <ul class="icon-style">
    <li id="station">
        <h4>Rouse Hill</h4>
        <p>2</p>
    </li>
     <li id="price">
        <h4>Price range</h4>
        <p>2</p>
    </li>
     <li id="cbd-dist">
        <h4>CBD Distance</h4>
        <p>1</p>
    </li>
     <li id="status">
        <h4>Status</h4>
        <p>Stage3</p>
    </li>
    </ul>    
</div>      
 
    
   
    
    
<!---------------------Enquiry FORMS-------------------------------------->    
<div class="connect-container">
<div class = "logo"><img src="img/Group-234.png" class="form-logo"></div>    
<button href="#" class="Button call">Call Agent</button>
<button href="#" class="Button learn">Learn more</button>    
</div>
<div class= "enquiry-container">
    <form class="enquiry-form">
        <h1>Ask about this property</h1>
        <h2>Your Details</h2>
        <input type="text" placeholder = "Your name(required)">
        <input type="email" placeholder = "Your email address">
        <input type="number" placeholder = "Your contact number ">
        
        <h2>Plaese Tell Us More</h2>
        <input class="bigger-text" placeholder = "I'd like to ask about...">
        <button href="#" class="Button button-1">Enquire</button>
        
    </form>
</div>
</div>

<%- include('partials/footer'); -%>