
/*@media screen and (max-width: 575px) {
    .rwd-break { display: none; }
 }

/*Footer CSS

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: left;
  background-color: #FAFAFA;
}

.wrapper > * {
  padding-top:60px;
  flex: 1 100%;
}

.footer{
  background:#EEEEEE;
  margin-top: 7rem;
  position:relative;    
}
 
.aside-1{
    width:auto;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.address-item:first-child{
  color: #000000;
  font-size: 16px;
  font-weight:bold;
}

.address-item: not(first-child){
color: #4E4E4E;
  font-size: 10px;
  font-weight:200;
}

.aside-2{
    margin-right: 15rem;
}

.aside-1 {
    margin-right: 10rem;
    margin-left: 2%;
}
#line1{
font-size:15px;
 font-weight: 500;
 letter-spacing: 0.1rem;
 color:#000000;
 margin-left: auto;
 margin-right: auto;
 width: 30em; 
line-height: 2;    
}


#line2{
 font-size:20px;
 font-weight: bold;
 letter-spacing: 0.2rem;
 color:#000000;
 display:inline;
}

.footer-item{
  float: left;
  margin-right: 0.5rem;
  color: #4E4E4E;
  font-size: 10px;
  font-weight:400;
}

.terms{
  float:left;
  color: #4E4E4E;
  font-size: 10px;
  font-weight:400;
  position:absolute;
  bottom:0;
  right:0;
  margin-bottom:0;
  width:40em;    
  text-align:right;
      
}*/

/* Footer CSS */

.topFooter {
  background-color: #0578ca;
  padding-left: 5vw;
  padding-top: 3rem;
  padding-bottom: 4rem;
  min-height:200px;    
  color:white;    
}
.topFooter #line2 {
  font-weight: 900;
  font-size: 2rem;
  margin-top: -0.6rem;
}

.topFooter #line1 {
 font-weight: 500;  
}

.topFooter .section {
  padding-bottom: 2rem;
}

.topFooter address {
  margin-bottom: 0;
  font-weight: 500;    
}
.topFooter .icons img {
  width: 30px;
  height: auto;
  background-color: inherit;
}

.topFooter .branch {
  font-weight: 900;
  font-size: 1.5rem;    
}

.bottomFooter {
  height: auto !important;
  background: #eeeeee;
  padding: 5px;
  align-items: center !important;
}
.bottomFooter ul li {
  display: inline;
  margin: 0 !important;
}
.bottomFooter ul {
  margin: 0 !important;
}