/* Footer CSS */

.topFooter {
  background-color: #0578ca;
  padding-left: 5vw;
  padding-top: 3rem;
  padding-bottom: 4rem;
  min-height:200px;    
  color:white;    
}
.topFooter #line2 {
  font-weight: 900;
  font-size: 2rem;
  margin-top: -0.6rem;
}

.topFooter #line1 {
 font-weight: 500;  
}

.topFooter .section {
  padding-bottom: 2rem;
}

.topFooter address {
  margin-bottom: 0;
  font-weight: 500;    
}
.topFooter .icons img {
  width: 30px;
  height: auto;
  background-color: inherit;
}

.topFooter .branch {
  font-weight: 900;
  font-size: 1.5rem;    
}

.bottomFooter {
  height: auto !important;
  background: #eeeeee;
  padding: 5px;
  align-items: center !important;
}
.bottomFooter ul li {
  display: inline;
  margin: 0 !important;
}
.bottomFooter ul {
  margin: 0 !important;
}