
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 72.5%;  /* 1rem = 10px; 10px/16px = 0.625 */
}

/************************
Whole Document Body Style
*************************/
body {
 box-sizing: border-box;
 overflow-x: hidden;
 font-family: "Montserrat", sans-serif;
 font-weight: 400;
 line-height: 1.7; 
 color:#000000;    
}

.navbar{
  padding-left:3rem;
  padding-right:3rem;
}
.navbar-nav .nav-item{
    /*font-size: 1.25rem;*/
    font-weight:400;
    padding-bottom:0.3125rem;
    text-transform: uppercase;
    color:#000000;
}

.text:not(.last-child){
    padding-right: 2.5rem;
}
