main{
    padding-left:3rem;
    padding-right:3rem;
}

/*****************************************
Text Heading & button on Main Image in Carousel
*******************************************/
.jumbotron-heading{
    font-family: "Lato", sans-serif;
    padding-bottom: 0.5rem;
    text-align: left;
    text-decoration: none; 
    letter-spacing: 0.2rem;
    width:100%;
    font-size: 4rem;
    display:inline-block;
    font-weight: 800; 
    list-style:none;
    position: absolute;
    top: -100px;
    right: 40px;
}

.btn1{
    position: relative;
    top: 190px;
    right: 40px;
}

/**************************
Main Image button animation
****************************/
.btn:link,
.btn:visited{
    text-decoration:none;
    color: white;
    padding: 1rem 2rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    border: solid 0.2rem rgba(255,255,255, 0.9);
}

.btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(196, 196, 196, 0.3);
}

.btn::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active{
    transform:translate(-0.1rem);
    /*btn will look like its going back*/
    box-shadow: 0 0.5rem 1rem rgba(196, 196, 196, 0.3);
}


/**************************
   Main Large Slider
****************************/
.carousel-item{
    height: 85vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-position: center;
}

.carousel-caption{
    position:absolute;
    top: 38%;
    text-transform:uppercase;
    left:10%;
    right:0;
}

.carousel-caption h1{
    font-size: 3.8rem;
    font-weight:700;
    letter-spacing: .3rem;
}

/*************
small slider
*************/
.item{
margin-top:0.5rem;
margin-bottom: 0.5rem;    
}


/***************
 FORM SECTION
***************/
.row{
  margin: 0 auto;
  max-width:400rem;  
}

clearfix{}
clearfix::after{
  content:"";
  display:table;
  clear:both;
}

.row [class^="col-1-"]{
    float:left; 
}

/*Responsivness for normal to large screens*/
@media only screen and (min-width: 769px){
.row [class^="col-1-"]:not(:last-child) {
    margin-right: 0.312rem;
  }    
}

.col-1-of-2 {
    width: -webkit-calc((100% - 0.312rem)/2);
    width: -moz-calc((100% - 0.312rem)/2);
    width: calc((100% - 0.312rem)/2);
    height:25rem;
    background-size: cover;
    
}

.col-1-of-7 {
    width: -webkit-calc((100% - (0.312rem*5))/6);
    width: -moz-calc((100% - (0.312rem*5))/6);
    width: calc((100% - (0.312rem*5))/6);
    height:90px;
    background-size: cover;
    margin-bottom: 4rem;
}

.col-1-of-5 {
    width: -webkit-calc((100% - (0.312rem*3))/4);
    width: -moz-calc((100% - (0.312rem*3))/4);
    width: calc((100% - (0.312rem*3))/4);
    height:90px;
    background-size: cover;
    margin-bottom: 4rem;
}


/*
Change form background image here by changing url(../img/*put name of image here*);  
*/  
.form-text-left{    
background-image: 
  linear-gradient(to right bottom, 
		rgba(119,119,119,0.5), 
		rgba(119,119,119,0.8)),
        url(../img/chastity-cortijo-604616-unsplash.jpg); 
  color:white;     
}

/*
Change form background image here by changing url(../img/*put name of image here*);  
*/   
.form-text-right{    
background-image: linear-gradient(to right bottom, 
		rgba(255, 255, 255, 0.8), 
		rgba(136,136,136,0.3)),
      url(../img/dylan-gillis-533818-unsplash.jpg);    
 color:black;   
}


.subscribe-form{
    margin-left:10%;
    margin-top:1rem;      
}

input{
    width:50%;
    border-radius: 10rem;
    height:3rem;
    border:none;
    text-align:center;
}

.btn2{
    margin-left:10%;
    border-radius:10rem;
    margin-top:1rem;    
}


.btn3{
   border-radius: 10rem;
   border:none;    
}

/**************
 VIDEO SECTION
***************/
.video-container{
   text-align:center;
   max-width:400rem;
   border:none;    
}

.vid-row{
   object-fit: cover;
   width:50%;
   height:360px; 
   margin-top:5rem;      
}


/***************
Partner Section
***************/
.partner-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
   padding-bottom: 10px;
}

.partners-logo{
    padding-top: 3rem;   
    text-align: center;
}


.logo-item{
    width: 60%;
    height:85px;
}

.last-logo{
    height:85px;
    margin:0 auto;
}

/**************
Headings Styles
***************/
h2{
    padding-top:5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    letter-spacing: 0.25rem;
    width:100%;
    font-size: 2.5rem;
    display:inline-block;
    font-weight: 800;

}

h3{
    letter-spacing: 0.25rem;
    font-size: 2rem;
    display:inline-block;
    font-weight: bold;
    margin-top:10%;
    margin-left:10%;
}

h4{
    letter-spacing: 0.25rem;
    font-size: 1.5rem;
    display:inline-block;
    font-weight: 400;
    margin-left:10%;
    width:100%;
}

#partner-paragraph{
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 50em; 
    line-height: 2;     
}

/**********
   Pop Up
**********/
.popUp{
    position:fixed;
    height:100vh;   
    width:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.8);
    z-index:9999;
}

.popup-content{
    width:30%;
    height:45rem;
    background-color: rgba(255, 255, 255,1);
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.popup-img{
    height:42rem;
    width:100%;
}

.btn4{
    position:absolute;
    /*top:90%;*/ /*make button appear in bottom centre*/
    top:97%;
    left:49%;
    transform:translate(-50%, -50%);
}

.close{
    position:absolute;
    top:0;
    right:14px;
    font-size:30px;
    transform: rotate(45deg);
    cursor:pointer;
}

/*Popup animations*/
.close:link,
.close:visited{
    text-decoration:none;
    display:inline-block;   
}

.close:hover{
    color:red;  
}
.close:checked{
    visibility:hidden;
}



/***************************
MOBILE & TABLET RESPONSIVENESS
****************************/
/*Media uery for Mobile and Tablet screens*/
@media only screen and (max-width: 767px){
   /* For mobile phones: */
  .row .col-1-of-2{
    width: 100%;
  }
  .jumbotron-heading{
    font-size: 3rem;
    padding-left: 2rem;
  }
    
  .btn1{
    position: relative;
    /*top: 170px;*/
    top: 90px;  
    right: 40px;
    transform:scale(0.8);  
  }
    
 .btn:link,
 .btn:visited{
    padding: 1rem 1rem; 
  }
    
 .vid-row{
   width:100%;
   height:260px;       
  }   

 .row .col-1-of-7{
    width: -webkit-calc((100% - (0.312rem*2))/3);
    width: -moz-calc((100% - (0.312rem*2))/3);
    width: calc((100% - (0.312rem*2))/3);
  } 
 .row .col-1-of-5{
    width: -webkit-calc((100% - (0.312rem*2))/3);
    width: -moz-calc((100% - (0.312rem*2))/3);
    width: calc((100% - (0.312rem*3))/2);
  } 
 .popup-content{
    width:60%;
    height:40rem; 
    } 
  .popup-img{
    height:35rem;
}    
}  

@media only screen and (min-width: 1441px)
{
    .jumbotron-heading{
    font-size: 8rem;
    transform: translateY(-20%);    
  }
   .btn1{
    top: 310px;
    right: 40px; 
  }    
    
}
